<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= movie.title %></title>
</head>
<body>
    <h1><%= movie.title %></h1>
    <a href="/">Zpět na hlavní stránku</a>
    <div id="movie">
	    <%- include('_movie') %>
    </div>
    <a href="/detail/<%= movie.id %>"><button>Navrátit</button></a><br>
    <a href="/delete/<%= movie.id %>"><button>Smazat film</button></a>
    <h2>Komentáře k filmu</h2>
    <div id="comments">
	    <%- include('_comments') %>
    </div>
    <form action="/addComment/<%= movie.id %>" method="post">
        <label for="newComment">Komentář: </label>
        <input type="text" name="newComment"/><br>
        <button type="submit">Přidat komentář</button>
    </form>
    <script>
        const ws = new WebSocket('ws://localhost:3000')

        ws.addEventListener('message', (message) => {
            const json = JSON.parse(message.data)
            if (json.type === 'comments') {
                document.getElementById('comments').innerHTML = json.html
            } else if (json.type === 'movie' && json.id === Number('<%= movie.id %>')){
                document.getElementById('movie').innerHTML = json.html
            } else if (json.type === 'delete' && json.id === Number('<%= movie.id %>')) {
                window.location = '/'
            }
        })
    </script>
</body>
</html>