<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/images/favicon.ico">
    <link href="/css/main.css" rel="stylesheet" type="text/css" />
    <title><%= movie.title %></title>
  </head>
  <body>
    <main>
      <%- include('_header') %>
      <hr />
      <h2><%= movie.title %></h2>
      <a href="/">Zpět na hlavní stránku</a>
      <div class="content">
        <div id="movie"><%- include('_movie') %></div>
        <div class="buttonDiv">
          <a href="/delete/<%= movie.id %>"><button>Smazat film</button></a>
        </div>
        <h3>Komentáře k filmu</h3>
        <div id="comments"><%- include('_comments') %></div>
        <form action="/addComment/<%= movie.id %>" method="post">
          <div class="rowDiv">
            <label for="newComment">Komentář: </label>
            <input type="text" name="newComment" /><br />
          </div>
          <div class="buttonDiv">
            <button type="submit">Přidat komentář</button>
          </div>
        </form>
      </div>
      <footer>
        <p>Všechna práva vyhrazena pro studijní účely.</p>
      </footer>
    </main>
    <script>
      const ws = new WebSocket('ws://localhost:3000');

      ws.addEventListener('message', (message) => {
        const json = JSON.parse(message.data);
        if (json.type === 'comments') {
          document.getElementById('comments').innerHTML = json.html;
        } else if (
          json.type === 'movie' &&
          json.id === Number('<%= movie.id %>')
        ) {
          document.getElementById('movie').innerHTML = json.html;
        } else if (
          json.type === 'delete' &&
          json.id === Number('<%= movie.id %>')
        ) {
          window.location = '/';
        }
      });
    </script>
  </body>
</html>
