<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <h1><%= title %></h1>
    <% if (user) { %>
        <%= user.name %>
        <a href="/logout">Odhlásit se</a>
      <% } else { %>
        <a href="/login">Přihlášení</a>
        <a href="/registration">Registrace</a>
    <% } %>
    <table>
        <tr>
            <th>Film</th>
            <th>Rok</th>
        </tr>
        <% for (const movie of movies) {%>
            <tr>
                <td><a href="/detail/<%= movie.id %>"><%= movie.title %></a></td>
                <td><%= movie.yearOfCreation %></td>
            </tr>
        <% } %>
    </table>
    <form action="/movieAddition" method="get">
        <button type="submit">Přidat film</button>
    </form>
</body>
</html>